control_plane_ip      = "192.168.1.100"
control_plane_subnet  = "192.168.1.0/24"
control_plane_gateway = "192.168.1.1"
ssh_user              = "pi"
ssh_private_key_path  = "/home/you/.ssh/id_ed25519"

